:root {
    --bg: #111217;
    --gap: 10px;
    --gap_2: calc(var(--gap) / 2);
    --logo_height: 70px;
    --logo_header_height: calc(var(--logo_height) + var(--gap));

    --default_colour: #23395B;

    --green: rgba(52,199,89,1);
    --green2:rgba(0,137,50,1);
    --red:  rgba(255,56,60,1);
    --red2: rgba(233,41,45,1);

    --server_text: #ff006e; 

    /* SWITCH CONSTANTS */
    --switch_length: 100px;
    --switch_padding: 2px;

    /* CHART CONSTANTS */
    --chart_height: 300px;

    /* BAR CONSTANTS */
    --bar_height: 50px;
    --bar_length: var(--chart_height);
    --bar_padding: 2px;
    --d_bar_number: calc(var(--bar_height) - 10px);
}

/* Removing background of scroller for Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

/*  Removing background of scroller for Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

body {
    background: var(--bg);
    margin: auto;
}

.display-flex {
    display: flex;
}

.display-flex-col {
    display: flex;
    flex-direction: column;
}

devices {
    max-width: 100%;
    flex-wrap: wrap;
    padding: var(--gap);
    gap: var(--gap);
}

._font {
    font-family: poppins;
    color: #C8CAD7;
}

/* - Page Header - */

page_header {
    width: 100%;
    height: auto;
    background: #191B20;
    border-bottom: 1px solid #222629;
    overflow: hidden;
    transition: 0.3s ease all;
}

header_container {
    justify-content: space-between;
}

page_header.collapsed {
    height: var(--logo_header_height);
}

logo_container {
    padding: var(--gap_2);
}

logo {
    width: var(--logo_height);
    height: var(--logo_height);
}

logo_text {
    font-size: var(--logo_height);
    padding-left: var(--gap_2);
    line-height: 1;
    max-height: var(--logo_height);
}

user_container {
    gap: calc(var(--gap) * 2);
    padding-right: calc(var(--gap) * 2);
    align-items: center;
}

username {
    font-size: 30px;
}

control_panel_container {
    padding: var(--gap);
}

/* - Container - */

container {
    background:#191B20;
    width: fit-content;
    height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    border-radius: 5px;
    overflow: hidden;
    align-items: flex-start;
    border: 1px solid #222629;
    opacity: 0;
    animation: fade_in 0.5s ease forwards;
}

header {
    width: calc(100% - 2 * var(--gap));
    gap: var(--gap);
    padding-left: var(--gap);
    padding-right: var(--gap);
    align-items: center;
    justify-content: space-between;
}

container-label, container-extras {
    font-size: 20px;
}

container-extras {
    align-items: center;
    gap: var(--gap);
    color: #718BCC;
}

status {
    width: var(--gap);
    height: var(--gap);
    background: var(--bg);
    border-radius: var(--gap);
    transition: all 0.3s ease;
}

status.connected {
    animation: status_connected 0.8s ease infinite alternate;
}

status.disconnected {
    animation: status_disconnected 0.4s ease infinite alternate;
}

config {
    width: 100%;
    height: auto;
    background: rgba(34,38,41, 0.5);
    padding-bottom: var(--gap_2);
    overflow: hidden;
    transition: 0.3s ease all;
}

config.collapsed {
    height: 0;
    padding: 0;
    border: none;
}

pre {
    padding: var(--gap_2);
    margin: 0;
    max-width: calc(0.6em * 40);
    white-space: pre-wrap;
    word-break: break-word;
}

pre:focus {
    outline: none;
}

button {
    background: green;
    align-self: center;
    color: white;
    border-radius: 8px;
    transition: all 0.3s ease;
    padding-left: var(--gap);
    padding-right: var(--gap);
    font-family: poppins;
    border: 1px solid rgba(0,0,0,0.2);
}

button:active {
    transform: translateY(1px);
    background: rgba(4, 150, 255);
}


content {
    width: 100%;
    padding-right: var(--gap);
    padding-bottom: var(--gap_2);
    gap: var(--gap_2);
    align-items: center;
    justify-content: center;
}

.panel {
    flex-direction: column;
    gap: var(--gap_2);
    align-items: flex-end;
}

@keyframes status_connected {
    0% {
        background: var(--green);
    }
    100% {
        background: var(--green2);
    }

}

@keyframes status_disconnected {
    0% {
        background: var(--red);
    }
    100% {
        background: var(--red2);
    }
}

@keyframes fade_in {
    100% {
        opacity: 1;
    }
}

clock {
  font-family: "EmojiSymbols-Regular"; 
}

.component_container {
    align-items: center;
    padding-left: var(--gap_2);
    padding-right: var(--gap_2);
    gap: var(--gap);
    flex-wrap: wrap;
}

/* - Switch - */

switch {
    width: var(--switch_length);
    height: calc(var(--switch_length) / 2);
    border-radius: var(--switch_length);
    padding: var(--switch_padding);
    transition: 0.3s ease-in-out;
    background: var(--default_colour);
}

switch_toggler {
    width: calc(var(--switch_length) / 2);
    height: calc(var(--switch_length) / 2);
    border-radius: calc(var(--switch_length) / 2);
    margin-left: 0px;
    transition: 0.3s ease-in-out;
    background: #C8CAD7;
}

/* - Button - */

os_button {
    width: calc(var(--switch_length) / 2);
    height: calc(var(--switch_length) / 2);
    background: var(--default_colour);
    border-radius: calc(var(--switch_length) / 2);
    padding: var(--switch_padding);
    transition: 0.3s ease-in-out;
    justify-content: center;
}

button_toggler {
    width: calc(var(--switch_length) / 4);
    height: calc(var(--switch_length) / 4);
    border-radius: calc(var(--switch_length) / 2);
    margin-top: 0px;
    transition: 0.3s ease-in-out;
    background: #C8CAD7;
}

/* - Reading - */

.reading_text {
    color: var(--server_text);
    font-size: 40px;
}

/* - Terminal - */

.terminal_text {
    color: #6AB547;
}

.terminal_window {
    min-width: 400px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

.terminal_content {
    flex: 1 1 auto;
    overflow: hidden;
    gap: 0px;
}

stdout {
    flex: 1 1 auto;
    overflow-y: auto;
    width: calc(100% - 2 * var(--gap));
    gap: var(--gap_2);
    display: flex;
    flex-direction: column;
}

cmdline {
    padding-top: 2px;
    flex: 0 0 auto;
    width: calc(100% - 2 * var(--gap));
    display: flex;
    align-items: flex-start;
    border-top: 1px solid #222629;
    gap: var(--gap_2);
}

stdin {
    flex-grow: 1;
    max-height: fit-content;
    max-width: 400px;
    padding-left: var(--gap_2);
    overflow: hidden;
}

stdin:focus{
    outline: none;
}

output_line {
    width: calc(100% - 2 * var(--gap));
    line-height: 1;
    word-break: break-all;
}

_prefix {
    padding-right: var(--gap_2);
}

.return_line {
    padding-left: calc(var(--gap) * 2);
    color: var(--server_text);
}

/* - Charts - */

.generic_chart {
    display: flex;
    min-height: var(--chart_height);
    max-height: var(--chart_height);
}

.Line_Chart {
    max-width: 800px;
}

.Pie_Chart {
    max-width: var(--chart_height);
}

/* - Bar - */

bar_container {
    gap: var(--gap);
    align-items: center;
}

bar {
    width: var(--bar_length);
    height: var(--bar_height);
    padding: var(--bar_padding);
    border-radius: calc(var(--gap_2) + var(--bar_padding));
    background: rgba(255,255,255,0.01);
    border: 1px solid #222629;
}

bar_filler {
    height: 100%;
    width: 50%;
    background: var(--default_colour);
    align-items: center;
    border-radius: var(--gap_2);
    transition: 0.3s ease all;
    justify-content: flex-end;
}

bar_number {
    min-width: var(--d_bar_number);
    min-height: var(--d_bar_number);
    padding: var(--bar_padding);
    border: 1px solid #222629;
    border-radius: 1000px;
    margin-right: -23px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease all;
}