[mysqld]
bind-address = 0.0.0.0
interactive_timeout = 31536000
wait_timeout = 31536000
require_secure_transport = ON
ssl-ca=/certs/root/SSL-root.crt
ssl-cert=/certs/mysql/mysql-server.crt
ssl-key=/certs/mysql/mysql-server.key
