[mysqld]
interactive_timeout = 31536000
wait_timeout = 31536000
require_secure_transport = ON
ssl-verify-client = ON
ssl-ca=/etc/mysql/certs/SSL-root.crt
ssl-cert=/etc/mysql/certs/mysql.crt
ssl-key=/etc/mysql/certs/mysql.key
